/* 用于某些页面带滚动的表格需要占满整个外部容器的地方，只需要表格添加： 
classNames={{
          root: 'full-height-table',
        }} 即可做到，后续如果antd的语义化更新了，这里可能会废弃 
          */

/* 1. 确保表格根节点占满父容器 */
.full-height-table {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 2. 穿透 Antd 内部的 Spin 和 Container 层级 */
.full-height-table .ant-spin,
.full-height-table .ant-spin-nested-loading,
.full-height-table .ant-spin-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 3. 让表格主体（包含表头和表体）占据剩余空间 */
.full-height-table .ant-table {
  flex: 1;
  overflow: hidden;
  /* 防止外层出现滚动条 */
}

/* 4. 关键：定义表格内容区域为 Flex 列 */
.full-height-table .ant-table-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 5. 表头固定 */
.full-height-table .ant-table-header {
  flex: 0 0 auto;
  /* 不伸缩 */
}

/* 6. 表体自动撑开并滚动 */
.full-height-table .ant-table-body {
  flex: 1;
  overflow-y: scroll !important;
  /* 强制开启垂直滚动 */
}

/* 7. 分页器固定在底部（防止内容少时分页器跑上去） */
.full-height-table .ant-pagination {
  flex: 0 0 auto;
}

/* 8. 设置边框 */
.full-height-table .ant-table.ant-table-bordered > .ant-table-container {
  border-bottom: var(--ant-line-width) var(--ant-line-type) var(--ant-table-border-color);
  border-end-start-radius: var(--ant-table-header-border-radius);
  border-end-end-radius: var(--ant-table-header-border-radius);
  border-inline-end: var(--ant-line-width) var(--ant-line-type) var(--ant-table-border-color);
}
